@media (min-width: 992px)
{
    .navbar-expand-lg .dropdown-menu>.dropdown .dropdown-menu {
   
        
    right: 100%!important;
    width: 800px;
    text-decoration: none;
}

.navbar-expand-lg .dropdown-menu.dropdown-menu-end {
    left: 0!important;
    right: auto!important;
}
}
.widget-list-link{
    text-decoration: none;
}